<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Vidjot</a>
        <div class=" navbar-nav" id="navbarNav">
            <ul class="nav-item">
                <a href="/about" class="nav-link">about</a>

            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <il class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">VideoIdea</a>
                <div class="dropdown-menu">
                    <a href="/ideas" class="dropdown-item">Ideas</a>
                    <a href="/ideas/add" class="dropdown-item">Add Ideas</a>
                </div>
            </il>
        </ul>
    </div>
    </div>
</nav>